version: '3.9'

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: irail
      POSTGRES_USER: irail
      POSTGRES_PASSWORD: irail
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: ["/app/start.sh"]
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "1788:1788"
    volumes:
      - ./backend/app:/app/app

  frontend:
    build: ./frontend
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  db_data:
